﻿@model Domain.Tournament

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">

        

    </dl>
</div>
<center>
    <p>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <img src="@Url.Content(Model.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
        </dd>
        <dd>
            <h3><b> @Html.DisplayFor(model => model.Name)</b> </h3>
        </dd>
        @Html.ActionLink("Edit Tournament", "Edit", new { id = Model.TournamentId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Back to Tournaments", "Index", new { }, new { @class = "btn btn-success" })
    </p>
</center>
<div class="row">
    <div class="col-md-6">
        <h3><b>Groups</b></h3>
        @Html.ActionLink("Create Group", "CreateGroup", new { id = Model.TournamentId }, new { @class = "btn btn-primary" })
        @if (Model.Groups.Count == 0)
        {
            <h5>No registered groups yet</h5>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups.FirstOrDefault().Name)
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        N° Teams
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Groups.OrderBy(g => g.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "DetailsGroup", new { id = item.TournamentGroupId }, new { @class = "btn btn-info" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TournamentTeams.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditGroup", new { id = item.TournamentGroupId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "DeleteGroup", new { id = item.TournamentGroupId }, new { onclick = "return confirm('Are you sure to delete this group?');", @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        }
    </div>
    <div class="col-md-6">
        <h3><b>Dates</b></h3>
        @Html.ActionLink("Create Date", "CreateDate", new { id = Model.TournamentId }, new { @class = "btn btn-primary" })
        @if (Model.Dates.Count == 0)
        {
            <h5>No registered dates yet</h5>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Dates.FirstOrDefault().Name)
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        N° Matches
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Dates.OrderBy(d => d.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "DetailsDate", new { id = item.DateId }, new { @class = "btn btn-info" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matches.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditDate", new { id = item.DateId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "DeleteDate", new { id = item.DateId }, new { onclick = "return confirm('Are you sure to delete this group?');", @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        }
    </div>
</div>