﻿@model Domain.Date

@{
    ViewBag.Title = "Index";
}

<h2>Tournament: @Model.Tournament.Name</h2>
<h3>Date: @Model.Name</h3>
<p>
    @Html.ActionLink("Create New", "CreateMatch", new { id = Model.DateId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to Date", "Details", new { id = Model.TournamentId })
</p>
@if (Model.Matches.Count == 0)
{
    <h4>No matches registered yet</h4>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().Status.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().TournamentGroup.Name)
            </th>
            <th>
                Local Team
            </th>
            <th>
                Visitor Team
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().LocalGoals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.FirstOrDefault().VisitorGoals)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Matches.OrderBy(m => m.DateTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TournamentGroup.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.Name) <br />
                    @if (!string.IsNullOrEmpty(item.Local.Logo))
                    {
                        <img src="@Url.Content(item.Local.Logo)" alt="Image" style="width:50px;height:50px;max-width: 80%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visitor.Name) <br />
                    @if (!string.IsNullOrEmpty(item.Visitor.Logo))
                    {
                        <img src="@Url.Content(item.Visitor.Logo)" alt="Image" style="width:50px;height:50px;max-width: 80%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime.Date.Day)/@Html.DisplayFor(modelItem => item.DateTime.Date.Month)/@Html.DisplayFor(modelItem => item.DateTime.Date.Year)<br />
                    @Html.DisplayFor(modelItem => item.DateTime.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalGoals)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitorGoals)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditMatch", new { id = item.MatchId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "DeleteMatch", new { id = item.MatchId }, new { onclick = "return confirm('Are you sure to delete this record?');", @class = "btn btn-danger"  })
                </td>

            </tr>
        }

    </table>
}
