﻿@model Domain.League

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>League</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <img src="@Url.Content(Model.Logo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
        </dd>

        <dd>
            <h3><b> @Html.DisplayFor(model => model.Name)</b> </h3>
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit League", "Edit", new { id = Model.LeagueId }, new { @class = "btn btn-warning" })     
    @Html.ActionLink("Back to Leagues", "Index", new { }, new { @class = "btn btn-default" })
</p>

<h4>Teams</h4>
@Html.ActionLink("Create Team", "CreateTeam", new { id = Model.LeagueId }, new { @class = "btn btn-primary" })
@if (Model.Teams.Count == 0)
{
    <h5>No registered teams yet</h5>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams.FirstOrDefault().Initials)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Teams.OrderBy(t => t.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Logo))
                    {
                        <img src="@Url.Content(item.Logo)" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Initials)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTeam", new { id = item.TeamId }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Delete", "DeleteTeam", new { id = item.TeamId }, new { onclick = "return confirm('Are you sure to delete this group?');" , @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}
