﻿@model IEnumerable<Domain.League>

@{
    ViewBag.Title = "Index";
}

<h2>Leagues</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class= "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            
        </th>
        <th>
            N° Teams
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.LeagueId }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teams.Count)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Logo))
            {
                <img src="@Url.Content(item.Logo)" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
            }
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LeagueId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id=item.LeagueId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
